@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
}
body {
    height: 100vh;
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

/*Code for header*/

header {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: left;
    box-sizing: border-box;
    padding: 20px;*/
    display: flex;
    flex-direction: column;
}
#chirpus-inc {
    margin-left: 0;
    font-weight: normal;
    font-size: 14pt;  
}
ul {
    list-style: none;
    padding: 0;
    color: #69696a;
    display: block;
}
#nav li {
    margin-top: 10px;

}

/*Code for content*/

#p1, #p2 {
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
h1 {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: normal;
}
h2 {
    border-left: 2px solid #69696a;
    margin-left: 20px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #69696a;
    font-size: 12pt;
    font-weight: normal;
}


/*Code for Footer*/

footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
span {
    margin-left: 20px;
    font-weight: normal;
}
#links li{
    text-decoration: none;
    display: inline;
    margin-right: 20px;
}

/*Code for changing Link colors*/

a:link, a:visited, a:hover, a:active {
    color: #69696a;
}

/*Code for >768px)*/

@media only screen and (min-width:768px) {
    
    /*code for header*/
    
    header {
        display: flex;
        flex-direction: row;
        margin:0;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
    }
    #nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
        display: inline;
        margin-right: 0;
    }
    #nav li {
        margin-right: 10px;
    }
    #p2 {
        width: 50%
    }
    h2 {
        width: 50%;
    }
    .circleBase {
        border-radius: 50%;
    }
    .circle-large {
        display: flex;
        position:absolute;
        margin-right: 0;
        left: 425px;
        bottom: 625px;
        width: 250px;
        height: 250px;
        background-color: rgba(247, 136, 167, 0.6);
        border: 1px solid rgba(247, 136, 167, 0.6);
    }
    .circle-medium {
        display: flex;
        position: absolute;
        left: 560px;
        bottom: 550px;
        width: 200px;
        height: 200px;
        background-color: rgba(247, 193, 162, 0.7);
        border: 1px solid rgba(247, 193, 162, 0.7);
    }
    .circle-small {
        display: flex;
        position: absolute;
        left: 600px;
        bottom: 700px;
        width: 150px;
        height: 150px;
        background-color: rgba(207, 130, 213, 0.6);
        border: 1px solid rgba(207, 130, 213, 0.6);
    }
}